* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background: #0e1017;
}

.airbnb {
    width: 700px;
    height: 900px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 15px;
}

/* Start Navbar */
.airbnb .navbar {
    box-shadow: 0px 2px 20px #0000001a;
}
.airbnb .navbar img {
    width: 120px;
    margin: 30px;
}
/* End Navbar */

/* Start Hero */
.HeroSection {
    margin-left: 50px;
}
.HeroSection img {
    display: block;
    width: 70%;
    text-align: center;
    margin: 40px auto;
}
.HeroSection p {
    margin-top: 1rem;
    width: 300px;
    color: #222222;
    font-weight: 300;
}
/* End Hero */
/* Start Offers */
.offersSection {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
}
.offersSection .itemContainer {
    margin-right: 30px;
}
.offersSection .itemImg {ب
    position: relative;
}
.offersSection .itemImg .itemPhoto {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}
.offersSection .itemImg p {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    font-size: 0.5rem;
    padding: 3px 5px;
    border-radius: 5px;
}
.offersSection .itemInfo {
    font-weight: 300;
    font-size: 11px;
}
.offersSection .itemInfo div {
    margin-top: 6px;
}
.offersSection .itemInfo span {
    color: #918e9b;
}

/* End Offers */
